@model  RiccoTest2.Models.MailModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div>
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Location
                    </h2>
                    <hr>
                </div>

                <div class="col-md-8" style="background-color: #d0d0d0; padding:15px; border-radius: 10px;">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    @*<iframe width="100%" scrolling="no" height="400" frameborder="0" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=vaal%20drive%2C%20vanderbijlpark+(The%20Ban)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed" marginwidth="0" marginheight="0"></iframe>*@
                    <div style="width: 100%"><iframe width="100%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=7%20hally%2C%20vanderbijlpark+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Map a route</a></iframe></div><br />

                </div>

                <div class="col-md-4">
                    <p>
                        Phone: <strong>(082) 453-5814 (Amelia)</strong>
                    </p>
                    <p>
                        Email: <strong>Amelia@BarnVaal.co.za</strong>
                    </p>
                    <p>
                        Address: <strong><br />Manteverede AH<br />Cnr Vaal and Hally Rd<br>Vanderbijlpark.<br>Gauteng.</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <p style="font-family:courier;">
                        Contact <strong>form</strong>
                    </p>
                </h2>
                <hr>
                <p style="font-family:courier;">For any general enquires you may have or to help make a reservation complete the form below.</p>
                <form role="form" asp-action="index" method="post">
                    @Html.HiddenFor(model => model.SMTP_HOST)
                    @Html.HiddenFor(model => model.SMTP_PORT)
                    @Html.HiddenFor(model => model.AccountName)
                    @Html.HiddenFor(model => model.AccountPassword)
                    @Html.HiddenFor(model => model.ToAddress)
                    @Html.HiddenFor(model => model.MessageSubject)

                    <div class="row">
                        <div class="form-group col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Name</div>
                                <div class="panel-body">@Html.TextBox("ContactPerson", Model.ContactPerson, new { @class = "form-control" })</div>
                            </div>

                            @*<input type="text" class="form-control">*@


                        </div>
                        <div class="form-group col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Email Address</div>
                                <div class="panel-body"> @Html.TextBox("FromAddress", Model.FromAddress, new { @class = "form-control" })</div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Phone Number</div>
                                <div class="panel-body">@Html.TextBox("ContactNumber", Model.ContactNumber, new { @class = "form-control" })</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="container">
                            <div class="row">

                                <div class="form-group col-lg-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Please indicate your venue requirments below.</div>
                                        <div class="panel-body">
                                            <div class="container">

                                                <div class="row">

                                                    <div class="col-lg-3">


                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Kitchen Teas</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Baby Showers</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Birthday Parties</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Anniversaries</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Small, intimate weddings</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Christenings</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Year-End functions</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Conferences</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Workshops</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                            </span>
                                                            <div class="form-control" aria-label="...">Engangments</div>
                                                        </div><!-- /input-group -->
                                                        <br />
                                                        <div class="input-group">
                                                            <span class="  input-group-addon">
                                                                <input type="checkbox" nowrap value="Kitchen Teas" aria-label="...">
                                                            </span>

                                                            <div class="form-control" nowrap aria-label="...">Other (Add description below)</div>
                                                            <div><textarea style="width:100%;" rows="3"></textarea></div>
                                                        </div><!-- /input-group -->

                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=" col-lg-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Optional Extras to choose from</div>
                                        <div class="panel-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <div class="table-responsive">
                                                            <table class="table table-condensed">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Option</th>
                                                                        <th><b><u> Package incudes</u>:</b></th>

                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Cutlery and Crockery</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            Silver under-plates, enamel plates, enamel desert bowl, salad plate, cake plates, console type glasses and nametags that compliments the Barn theme, knives, forks, dessert spoons, teaspoons, cake forks and white damask serviettes.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Table Settings</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            The Barn team set your tables.  <br />Everything is ready with your arrival. We include Ivy vines for decoration.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Table cloths</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            Callico and Burlap runners (set of  2)
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Wooden Slabs.</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            Wooden Slabs used as centre pieces on your tables.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Consol Bottels</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            Console bottles with tea candles used as centre pieces.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Silver Underplates</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            We include a separate Silver Under plate price, should you want to hire them separately. Some clients for instance want to use the caterer’s cutlery and crockery, but they still want us to set the tables for them. Caterers do not usually include Silver under plates, in which case you are welcome to hire them from us.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">White brocade Serviettes</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            We include a separate serviette price as well should you want to hire them separately.  Some clients for instance want to use the caterer’s cutlery and crockery, but they still want us to set the tables for them.  Caterers do not usually include White Serviettes, in which case you are welcome to hire them from us.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Cup Cake Stands</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td> Three-tier wooden cupcake stands.</td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Proxima</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            You can use our Proxima system.  Usually for conferences, but some clients want to show pictures when doing an anniversary party, of children’s party, baby shower and in some cases kitchen teas.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Coffee Bar</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            The Barn reserves the right to serve her customers with bottomless coffee.  A selection of different coffees and teas available.  We also provide beautiful enamel cups and enamel teaspoons specially selected to compliment the theme.
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td nowrap>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <input type="checkbox" value="Kitchen Teas" aria-label="...">
                                                                                </span>
                                                                                <div class="form-control" aria-label="...">Special Decor</div>
                                                                            </div><!-- /input-group -->
                                                                        </td>
                                                                        <td>
                                                                            Some clients want to have special décor for instance in the case of Baby Showers and Kitchen Teas.  We will be able to assist and supply you with a quotation for these should you require it.
                                                                        </td>

                                                                    </tr>

                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">Message</div>
                                <div class="panel-body">@Html.TextArea("MessageBody", Model.MessageBody, 6, 1, new { @class = "form-control" })</div>
                            </div>



                        </div>
                        @*<div class="form-group col-lg-12">
                                <input type="hidden" value="contact" name="save">
                                <button class="btn btn-default" type="submit">Submit</button>
                            </div>*@
                        <div class="form-group">
                            <input type="submit" value="Submit Query" class="btn btn-primary " style="float: right; width : 250px; font-size: 15px;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

